body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}

header {
    background-color: #4CAF50;
    color: white;
    padding: 1em;
    text-align: center;
}

nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
}

nav ul li {
    display: inline;
    margin: 0 10px;
}

nav ul li a {
    color: white;
    text-decoration: none;
}

main {
    padding: 20px;
    background-image: url(profile-img.webp);
    height: 422px;
}

section {
    margin-bottom: 20px;
    text-align: center;
    color: white;
    font-weight:600;
    height: 500px;
}

form {
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 500px;
}

label, input, button {
    margin-bottom: 10px;
    text-align: center;
}

input {
    width: 200px;
}

#contributionsLog {
    list-style-type: none;
    padding: 0;
}

#contributionsLog li {
    background-color: #f9f9f9;
    margin: 5px 0;
    padding: 10px;
    border: 1px solid #ddd;
}

/* styles.css */
.footer {
    background-color: #5cb35f;
    color: #fff;
    padding: 20px 0;
    text-align: center;
}

.footer-content {
    max-width: 1200px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.footer-logo img {
    width: 100px;
    height: auto;
}

.footer-links ul {
    list-style: none;
    margin: 0;
    padding: 0;
}

.footer-links li {
    display: inline-block;
    margin-right: 20px;
}

.social-icons a {
    display: inline-block;
    margin-right: 10px;
}

.social-icons img {
    width: 24px;
    height: 24px;
}

.footer-disclaimer {
    margin-top: 20px;
    font-size: 12px;
}

.submit-button {
    color: blue;
}